
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form method="post">
    <input type="text" name="txtUserName" class="form-control" /><br />
    <input type="text" name="txtPassword" class="form-control" /><br />
    <button class="btn btn-primary">Sign In</button>

</form>

